<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Meet the Team!</h2>
  </div>

  <div class="panel-body">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="https://placehold.it/250x250" alt="Justin Coleman">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Justin Coleman</h4>
        Founder &amp; CEO
        <p>Justin created Pinteresting as an exercise to learn more about Ruby on Rails. The rest, as they say, is history.</p>
      </div>
    </div>
  </div>
</div>